$gunmetal: #3D4A52
$khaker: #BFAC9A
$champange: #F9E6CF
$dark-green: #011A23
$dust-storm: #E3D2BD

*
  margin: 0
  padding: 0

body
  font-family: 'Noto Sans HK', sans-serif
  position: relative

h1, h2, h3, h4, h5, h6
  font-family: 'Vollkorn', serif
  font-weight: 700

.flex
  display: flex

@media (min-width: 1024px)
  .flex
    display: flex

.justify-center
  justify-content: center

.align-center
  align-items: center
  align-content: center

.wrap
  flex-wrap: wrap

.uno
  background: $dark-green
  color: white
  width: 100%
  height: 100vh
  position: relative
  z-index: 2
  h1
    font-size: 50px
    color: $dark-green
    background: $champange
    margin: 0
    text-align: center
    padding: 50px 80px 60px
    line-height: 34px
    span, i
      font-size: 26px
      padding-left: 15px
      color: $gunmetal
      // height: 1px
  &::before
    opacity: 0.7
    // opacity: 1
    z-index: -1
    background: url('img/hero.jpg') center/cover
    position: absolute
    content: ''
    top: 0
    left: 0
    right: 0
    bottom: 0
    margin: auto
    width: 100%
    height: 100%

@media (min-width: 1024px)
  .uno
    h1
    &::before

.dos
  width: 100%
  position: relative
  .dos-uno
    width: 100%
    background: $dark-green
    box-sizing: border-box
    top: 0
    .img
  .dos-dos
    box-sizing: border-box
    width: 100%
    padding: 52px 8%
    background: $champange
    color: $gunmetal
    h1
      text-align: center
      font-size: 32px
      margin-bottom: 26px
      // font-size: 38px
      line-height: 120%
    p
      font-size: 18px
      line-height: 140%
      margin-bottom: 18px

@media (min-width: 1024px)
  .dos
    display: flex
    .dos-uno
      width: 50%
      height: 100vh
      display: flex
      justify-content: center
      align-items: center
      align-content: center
      position: sticky
      .img
        background-image: url('img/dos.jpg')
        background-size: cover
        background-position: center
        width: 100%
        height: 100%
    .dos-dos
      width: 50%
      padding: 8%
      h1
        font-size: 38px
        margin-bottom: 40px
        // line-height: 130%
      p
        line-height: 160%

.tres
  width: 100%
  color: white
  box-sizing: border-box
  .tres-uno
    box-sizing: border-box
    width: 100%
    padding: 52px 8% 64px
    background: $dark-green
    color: $dust-storm
    h1
      text-align: center
      margin-bottom: 48px
      font-size: 32px
      // font-size: 38px
      line-height: 120%
    .items
      .item
        text-align: center
        margin-bottom: 28px
        img
          width: 90px
          margin-bottom: 18px
        p
          // text-align: left
          font-size: 18px
          line-height: 140%
        &:last-child
          margin-bottom: 0
  .tres-dos

@media (min-width: 1024px)
  .tres
    display: flex
    .tres-uno
      width: 50%
      padding: 8%
      h1
        // line-height: 130%
        font-size: 38px
      .items
        .item
          img
          p
            line-height: 160%
          &:last-child
    .tres-dos
      width: 50%
      position: sticky
      top: 0
      height: 100vh
      .img
        background: url('img/tres.jpg')
        background-size: cover
        background-position: center
        width: 100%
        height: 100%

.cuatro
  box-sizing: border-box
  .content-box
    margin: auto
    max-width: 1020px
    background: $champange
    color: $gunmetal
    // padding: 7% 0
    padding-bottom: 48px
    .item
      .img
        width: 100%
        height: 340px
        background-size: cover
        margin-bottom: 20px
      .data
        width: 100%
        box-sizing: border-box
        text-align: center
        padding-top: 28px
        padding-left: 20px
        padding-right: 20px
        h1
          margin-bottom: 20px
          font-size: 32px
          line-height: 120%
        p
          font-size: 18px
          line-height: 140%
      &:nth-child(1)
        margin-bottom: 50px
        .img
          background-image: url('img/cuatro-uno.jpg')
        .data
      &:nth-child(2)
        .img
          background-image: url('img/cuatro-dos.jpg')
          order: 2
        .data
          order: 1

@media (min-width: 1024px)
  .cuatro
    background-image: url('img/cuatro.jpg')
    background-size: cover
    background-position: center
    padding: 7%
    .content-box
      padding: 7%
      .item
        display: flex
        flex-wrap: wrap
        justify-content: space-between
        align-content: center
        align-items: center
        .img
          width: 40%
          height: 410px
          margin-bottom: 0
        .data
          width: 60%
          padding-top: 0
          padding-left: 0
          padding-right: 0
          h1
            line-height: 130%
            font-size: 38px
          p
        &:nth-child(1)
          .img
          .data
            padding-left: 5em
        &:nth-child(2)
          .img
          .data
            padding-right: 5em

footer
  text-align: center
  background: $dark-green
  color: $khaker
  padding: 20px 0
  display: flex
  align-items: center
  align-content: center
  p
    position: relative
    span
